/* 
comment in css
chercher les icones sur lucide icons
*/

.flex-row-space-between{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: cyan;
    font-family: "Space Grotesk";
}

.red{
    color:red;
}

ul{
    list-style: none;
    gap: 1em;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center; /*centrer sur l'axe secondaire du li*/
}
